- content_for :title, "Locations"
.row
  .large-8.columns
    %h1 Location
  .large-4.columns.right
    = link_to admin_locations_path, :class => 'button' do
      %i.fi-list-thumbnails
      Index
.row
  .large-12.columns
    = render 'form'