- content_for :title, "Event"


.row
  .large-4.columns
    %h1 New Event
  .large-4.columns.text-right
    = link_to admin_events_path, :class => 'button' do
      %i.fi-list-thumbnails
      Index
  .large-4.columns
    &nbsp;
.row
  .large-8.columns
    = render 'form'
  .large-4.columns
    &nbsp;