%h1 Listing programs

%table
  %thead
    %tr
      %th Index
      %th
      %th
      %th

  %tbody
    - @programs.each do |program|
      %tr
        %td= program.title
        %td= link_to 'Show', program

