:css
  body, main { background-color: #{program.backgroundcolor}}
  - if program.backgroundimage && program.backgroundimage.small_thum
    main { background-image: url(#{program.backgroundimage.small_thumb.url}) }
  .panel h1,
  .panel h2,
  .panel h3,
  .panel h4 { color: #{program.textcolor2}}
  strong { color: #{program.textcolor1}}