.row
  .columns.large-12
    &nbsp;
.row#main_header
  .columns.large-12

    .row
      .columns.large-6
        .panel
          %h1
            = link_to root_url do
              %strong zakk
              klubraum
      .columns.large-1
        &nbsp;
      .columns.large-5
        %p.text-right
          TODO:
          %span.ptext
            %a{:href=>"info"} Info
          %span.ptext
            %a{:href=>"kontakt"} Kontakt