require "action_mailer"

ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.smtp_settings = {
  address: 'domain.net',
  domain:  'domain.net',
  port:    25
}

class Notifier < ActionMailer::Base

  default :from => 'user@domain.net'

  def deploy_notification(notify_emails, stage,  git_log)

    now = Time.now
    msg = "Performed a deploy operation on #{now.strftime("%m/%d/%Y")} at #{now.strftime("%I:%M %p")} to #{stage}</br></br>#{git_log}"

    mail(to: notify_emails,
         subject: "Deployed TAP-P to #{stage}") do |format|
      format.text { render :text => msg}
      format.html { render :text => "<pre>#{msg}<\pre>"}
    end
  end
end

