- @page_title = "Benutzerverwaltung > Profil"



.row
  .large-8.columns
    %h1 profil bearbeiten
  .large-4.columns.right
    = link_to admin_users_path, :class => 'button tiny' do
      %i.fi-list-thumbnails
      Index
.row
  .large-10.columns
    = render 'form'
  .large-2.columns
    &nbsp;

