- if current_user.admin?
  %li
    = link_to admin_users_path do
      %i.fi-widget
      Administration
%li.divider
%li.has-dropdown
  %a
    %i.fi-torso
    =current_user.login
  %ul.dropdown
    %li
      = link_to preferences_path do
        %i.fi-wrench
        Präferenzen
    %li
      = link_to destroy_user_session_path, :method => :delete, :confirm => "Wirklich abmelden?", :id => 'logout' do
        %i.fi-power
        Abmelden

